Source: examplepkg
Build-Depends: debhelper-compat (= 13)
Maintainer: Test <test@example.com>

Package: examplepkg
Architecture: any
Depends: libfoo1 (>= 1.0), libbar2
Recommends: libfoo1 | libbaz3
Description: Example package
 Long description.
