Source: blah
Section: python
Priority: optional
Maintainer: Jane Developer <jane@example.com>
Build-Depends: debhelper-compat (= 13), python3-dev | python3-all-dev

Package: python3-blah
Architecture: all
Description: a useful python module
 Some long description.
