Source: foo
Section: mail
Priority: optional
Maintainer: Foo Maintainer <foo@example.org>
Build-Depends: debhelper (>= 12)

Package: foo
Architecture: any
Depends: exim, libc6, ${misc:Depends}
Description: example package
 Long description.
